<div class="container">
  <p class="c17"><span class="c3">Terms and Conditions of Use</span></p>
  <p class="c0 c4"><span class="c5 c3"></span></p>
  <p class="c0"><span class="c7 c3">Introduction</span></p>
  <p class="c0">
    <span class="c1">
      This website (the &ldquo;Site&rdquo;) is operated by DevIntent.
      These Terms of Service apply to the national version of the Site, located at https://devintent-angular-example.firebaseapp.com.
    </span>
  </p>

  <p class="c0 c4"><span class="c1 c3"></span></p>
  <p class="c0"><span class="c7 c3">Representations and Warranties</span></p>
  <p class="c0">
    <span class="c1 c3">You hereby represent and warrant that: (a) you have all necessary authority, rights and permissions to
      submit the Materials and grant the licenses described in these Terms, (b) the Materials are accurate, current and complete, (c) the
      Materials and your use of the Site shall not infringe or misappropriate any copyright, trademark, trade secret, patent, or other
      intellectual property right of any third party or violate any other rights of third party, including, without limitation, any rights
      of privacy or publicity or any contractual rights, (d) the Materials and your use of the Site shall not violate any applicable law or
      regulation, including, without limitation, any applicable advertising or fair housing laws or regulations, or cause injury to any
      person; (e) your use of the Site shall not violate any agreements between you and a third party.
    </span>
  </p>
  <p class="c0 c4"><span class="c1 c3"></span></p>
  <p class="c0"><span class="c7 c3">Indemnification</span></p>
  <p class="c0">
    <span class="c1">You agree to indemnify and hold DevIntent, Affiliates, and the Licensors and Suppliers, and
      their respective officers, directors, employees, agents, and contractors harmless from and against any and all claims, costs,
      demands, damages, liabilities, or expenses, including, without limitation, reasonable attorneys&rsquo;
      fees, arising from or related to: (a) the Materials you provide, (b) your use of the Site or your reliance on the Content, (c) your
      breach of these Terms, or (d) any actual, prospective, completed or terminated purchase, sale or other transaction between you
      and a third party.
    </span>
  </p>

  <p class="c0 c4"><span class="c3 c5"></span></p>
  <p class="c0"><span class="c5 c3">Contact Us </span></p>
  <p class="c0" id="h.m7qlwiw9yvmw"><span>If you have any questions about these Terms, please contact us at </span><span class="c9"><a
    class="c2" href="mailto:sales@devintent.com" rel="noopener">sales@devintent.com</a></span><span>.</span></p>
  <p class="c0 c4" id="h.gjdgxs"><span class="c13"><a class="c2" href="mailto:sales@devintent.com" rel="noopener"></a></span></p>
  <p class="c0 c4"><span class="c5 c3"><a class="c2" href="mailto:sales@devintent.com" rel="noopener"></a></span></p>
  <p class="c0"><span class="c1 c3">&copy; 2018 DevIntent LLC</span></p>
  <p class="c0"><i class="c1 c3">Last updated on January 3rd, 2018</i></p>
</div>
