<div class="container">
  <p class="c9 privacy-title"><span class="c8 c7">Privacy Policy</span></p>
  <p class="c2"><span class="c0">&nbsp;</span></p>
  <p class="c2">
    <span class="c3">This web site (the &ldquo;</span><span class="c3 c7">Site</span><span class="c3">&ldquo;) is operated by DevIntent LLC.
      The Privacy Policy that follows (the &ldquo;</span><span
      class="c3 c7">Policy</span><span class="c3">&ldquo;) describes DevIntent&rsquo;s collection, use and disclosure of information practices in
      connection with the Site.
    </span>
  </p>

  <p class="c2"><span class="c0">&nbsp;</span></p>
  <p class="c2"><span class="c3">If you have any questions about this Privacy Policy, please contact us at </span>
    <span class="c16">
      <a class="c15" href="mailto:sales@devintent.com" rel="noopener">sales@devintent.com</a>
    </span><span class="c0">.</span>
  </p>
  <br>
  <p class="c7"><span class="c5">&copy; 2018 DevIntent LLC<br></span><i class="c5">Last updated on January 3rd, 2018</i>
</div>
